.heading{
text-align: center;
  border: 2px solid black;
  width: 500px;
  border-radius: 8px;
  margin: 40px auto;
  background-color: beige;
}
.input {
  width: 300px;
  margin: 20px auto;
}
.input input{
  width: 200px;
  height: 20px;
  margin: 10px;
  border: 2px solid black;
  background-color: rgb(243, 236, 228);
  border-radius: 6px;
}
.btn-1{
  width: 50px;
  height:24px ;
  border-radius: 6px;
  
}
.btn-1:hover{
  background-color: rgb(243, 37, 37);
  cursor: pointer;
}
.under-range-1{
  margin-left: 43vw;
}
.checkbok{
  margin-left: 42vw;
  margin-top: 20px;
}


